.venv/
.vscode/
**/__pycache__/
poetry.lock
poetry.toml
**/*.log
**/build/
**/install/
**/log/
*.spec
dist/
venv/
venv_wsl/
*venv*/
.env
.env.*
training/logs/
training/models/
training/checkpoints/
wandb/
